<!doctype html>
<html ng-app="mapaAngularTest">
  <head>
    <meta charset="utf-8">
    <title>mapaAngularTest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

  </head>
  <body>

	<md-toolbar class="md-warn">
         <div class="md-toolbar-tools">
            <h2 class="md-flex">MapGeocoderPrototype</h2>
         </div>
    </md-toolbar>
    
    <div layout="row">
                 	
         <div ng-controller="MapGeocoder">
                  <md-input-container class="md-block">
             <label>Calle</label>
              <input ng-model="gmaps.calle">
          </md-input-container>
          
          <md-input-container class="md-block">
             <label>Altura</label>
              <input ng-model="gmaps.altura">
          </md-input-container>
          
          <md-input-container class="md-block">
             <label>Partido</label>
              <input ng-model="gmaps.partido">
          </md-input-container>
          
          <md-input-container class="md-block">
             <label>Pais</label>
              <input ng-model="gmaps.pais">
          </md-input-container>
          
          <md-content class="md-padding">
               <md-button class="md-raised md-primary" ng-click="buscar()">
                  Buscar!
               </md-button>
         </md-content>
          <md-input-container class="md-block">
             <label>{{result}}</label>
          </md-input-container>          
        </div> 
        
        <leaflet  width="100%" height="500px"></leaflet>
    </div>  

  </body>
</html>
